<div class="row">
	<div class="col-md-6 offset-3 alert alert-success text-center">
		<h2>Order Completed Successfully</h2>
		<p>You can check your orders in order section in your profile</p>
		<hr />
		<p>Thank You!</p>
	</div>
</div>